.list-container{
    display:flex;
    flex-direction: row;
}
.navbar a{
  display: flex;
  font-size: 2em;
  font-weight: bold;
  color: #394A51;
  padding: 1.6em 2em;
}
header{
  background-color: #FBF2D5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.country-name-china {
  background-image: url(/images/chinaBackground.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 10em;
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
.country-name-china h2 {
  font-size: xxx-large;
  font-family: "Montserrat";
  letter-spacing: 1em;
  margin: 0px;
  align-self: center;
  color: white;
  text-shadow: 0.03em 0.03em black;
}
.country-name-japan {
  background-image: url(/images/japanPic.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 10em;
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
.country-name-japan h2 {
  font-size: xxx-large;
  font-family: "Montserrat";
  letter-spacing: 1em;
  margin: 0px;
  align-self: center;
  color: white;
  text-shadow: 0.04em 0.05em black;
}
.country-name-germany {
  background-image: url(/images/Germany\ Panorama.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 10em;
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
.country-name-germany h2 {
  color: white;
  text-shadow: 0.06em 0.06em black;
  font-size: xxx-large;
  font-family: "Montserrat";
  letter-spacing: 1em;
  margin: 0px;
  align-self: center;
}
.country-name-denmark{
    background-image: url(/images/denmark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 10em;
    margin-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1em;

}
.country-name-denmark h2{
  font-size: xxx-large;
  font-family: "Montserrat";
  letter-spacing: 1em;
  margin: 0px;
  align-self: center;
  color: white;
  text-shadow: 0.03em 0.03em black
}
footer{
    display:flex;
    justify-content: right;
    padding: 1em;
    background-color: #7FA99B;
}

.logo {
  margin-right: 2.3em;
  margin-left: 2em;
  max-width: 8%;
  height: auto;
  padding-top: .5em;
  padding-bottom: .5em;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

/* .navbar a:hover{
  background-image:url(/images/japanFlag.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#FBF2D5;
} */

.chinaFlag:hover {
  background-image:url(/images/chinaFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

.denmarkFlag:hover {
  background-image:url(/images/denmarkFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}

.germanyFlag:hover {
  background-image:url(/images/germanyFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.japanFlag:hover {
  background-image:url(/images/japanFlag.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.spainFlag:hover {
  background-image:url(/images/spainFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}

#currentChina{
  background-image:url(/images/chinaFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

#currentDenmark{
  background-image:url(/images/denmarkFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}

#currentGermany{
  background-image:url(/images/germanyFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#currentJapan{
  background-image:url(/images/japanFlag.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

#currentSpain{
  background-image:url(/images/spainFlag.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}

#currentNav {
  color:#FBF2D5;
  background-color: #394A51;
}

.list-container {
  display: flex;
  background: #FDC57B;
  justify-content: space-evenly;
}
.list-container section{
  width: 30%;
}
.cities-list, .landmarks-list, .citizens-list{
  border: solid 3px #394A51;
  padding: 40px;
  margin: 20px;
  background: #FBF2D5;
}
.list-container h2{
  text-align: center;
  background-color: #FDC57B;
}

body {
  margin: 0;
}
.country-images{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
}
.country-images img{
  width: 50%;
  border: solid 3px #394A51;
}
.bottomChina-images{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
}
.bottomChina-images img{
  width: 50%;
  border: solid 3px #394A51;
}