.list-container{
    display:flex;
    flex-direction: row;
}
.navbar a{
  display: flex;
  font-size: 2em;
  font-weight: bold;
  color: #394A51;
  padding: 3.5em 2em;
}
header{
  background-color: #7FA99B;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: .5em solid;
  border-color: #394A51;
}
.country-name-china {
  background-image: url(/images/chinaPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100px;
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.country-name-japan {
  background-image: url(/images/japanPic.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100px;
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
.country-name-japan h2 {
  font-size: xxx-large;
  font-family: "Montserrat";
  letter-spacing: 1em;
  margin: 0px;
  align-self: center;
}
.country-name-germany {
  background-image: url(/images/Germany\ Panorama.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100px;
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.country-name-germany h2 {
  color: white;
  text-shadow: .1em .1em black;
}
.country-name-denmark{
    background-image: url(/images/denmark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100px;
    margin-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;

}
.country-name-denmark h2{
  font-size: xxx-large;
  font-family: "Montserrat";
  letter-spacing: 1em;
}
footer{
    display:flex;
    justify-content: right;
    padding: 1em;
    background-color: #7FA99B;
}

.logo {
  margin-right: 2.3em;
  margin-left: 2em;
  max-width: 12%;
  height: auto;
  padding-top: .5em;
  padding-bottom: .5em;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.navbar a:hover{
  background-color: #394A51;
  color:#FBF2D5;
}

#currentNav {
  color:#FBF2D5;
  background-color: #394A51;
}

.list-container {
  display: flex;
  background: #FDC57B;
  justify-content: space-evenly;
}
.list-container section{
  width: 30%;
}
.cities-list, .landmarks-list, .citizens-list{
  border: solid 3px #394A51;
  padding: 40px;
  margin: 20px;
  background: #FBF2D5;
}
.list-container h2{
  text-align: center;
  background-color: #FDC57B;
}

body {
  margin: 0;
}
/* .list-container ul {
  border: solid 3px black;
  padding: 40px;
  margin: 20px;

} */
