.list-container{
    display:flex;
    flex-direction: row;
}
.navbar {
  display: inline;
}
header {
  background-color: #7FA99B;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.country-name-japan {
    background-image: url(/images/japanPic.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}